<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Print</title>
</head>
<body>
  <div id="page-container">
    <div id='cover'></div>
    <h1>Cheque Printer</h1>
    <div id='form'>
      <input type="text" name="name" id="name" placeholder="Name" autofocus>    
      <input type="text" name="reference" id="reference" placeholder="Reference"> 
      {% if record['last_num']%}
      <input type="text" name="chequeNumber" id="chequeNumber" value="{{record['last_num']}}">
      {% else %}
      <input type="text" name="chequeNumber" id="chequeNumber" placeholder="Checque No.">
      {% endif %}
      <input type="text" name="amount" id="amount"  placeholder="Amount">
      <div class="empty"></div>
      <button id="sub" type="submit" onclick="print()">Submit</button>
      <div id='message_form'>something important!</div>
    </div>
    <div id='editForm'>
      <input type="text" name="name">    
      <input type="text" name="reference"> 
      <input type="text" name="chequeNumber">
      <input type="text" name="amount">
      <button type="submit" onclick="editSub()">Submit</button>
      <button id="canc" type="submit" onclick="canc()">Cancel</button>
      <div id='message_edit'>something important!</div>
    </div>
    <div id="history">
      <table id=history_table>
        <tr>
          <td class="name_row">This Month:</td>
        </tr>
        {% if record['month']%}
          {% for entry in record['month'] %}
          <tr>
            <td>{{entry[0]}}</td>
            <td>{{entry[1]}}</td>
            <td>{{entry[2]}}</td>
            <td>£ {{entry[3]}}</td>
            <td>{{entry[4]}}</td>
            <td><button class="print" onclick=print_prew(this)>Print</button><button id='edit' onclick=edit(this)>Edit</button></td>
          </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td></td>
            <td>There are no records this month yet!</td>
          </tr>
        {% endif %}
        <tr>
          <td class="name_row">Last Month:</td>
        </tr>
        {% for entry in record['prew_month'] %}
        <tr>
          <td>{{entry[0]}}</td>
          <td>{{entry[1]}}</td>
          <td>{{entry[2]}}</td>
          <td>£ {{entry[3]}}</td>
          <td>{{entry[4]}}</td>
          <td><button id='{{entry[2]}}>' onclick=print_prew(this)>Print</button></td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <script type="text/javascript">var book = {{record|safe}}</script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
  </div>
  <div id="footer">
      <div id="copy">&copy; Copyright 2022 by <small onclick="contact()">Jensten Technologies</small>.</div>
  </div>
</body>
</html>